<div class="container">
  <div class="row mb-3 header-sub sticky">
    <div class="col-md-5 align-self-center">
      <h1 class="breadcrumb-chevron">من نحن</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="entry-content">
      <div class="content-inner">
        <p>&nbsp;</p>
        <p style="text-align: center">
          <img
            fetchpriority="high"
            decoding="async"
            class="aligncenter size-medium wp-image-335"
            src="assets/almesbarfulllogowith.png"
            alt="101"
            width="300"
            height="300"
            data-pin-no-hover="true"
          />
        </p>
        <p style="text-align: justify" class="mt-5">
          &nbsp;مركز المسبار للدراسات والبحوث هو مركز مستقل متخصص في دراسة
          الحركات الإسلامية والظاهرة الثقافية عموما، ببعديها الفكرى والاجتماعي
          السياسي. يبدي المركز اهتماما خاصا بالحركات الإسلامية المعاصرة، فكرا
          وممارسة، رموزا وأفكارا، كما يهتم بدراسة الحركات ذات الطابع التاريخي
          متى ظل تأثيرها حاضرا في الواقع المعيش.
        </p>
        <p style="text-align: justify">
          ويعتني المركز اعتناء خاصا بكون الثقافة شرطا رئيسا للتنمية، وكذلك
          الاستراتيجية هي المدخل الوحيد نحو المستقبل في كل ما يتعلق بفلسفة
          التنمية والبناء الحضاري لأي أمة، وتصب مختلف أنشطة المركز المختلفة من
          خلال إصداراته الدورية وغير الدورية أو أنشطته التفاعلية أو الإنتاجية في
          هذا الاتجاه.
        </p>
        <p style="text-align: justify">
          ويعمل في مركز المسبارمجموعة مختارة من الباحثين المتخصصين في الحركات
          الإسلامية المعاصرة والتاريخية والظواهر الثقافية والاستراتيجية، و
          يتعاون المركز في هذا الاتجاه مع المراكز والمؤسسات المختلفة التي تجتمع
          أهدافها مع أهدافه ورسالتها مع رسالته، وهو ما يضمن تبادل الخبرات وتطوير
          المهارات الذي يتم عبر تنشيط الحوار بين المتخصصين وتدويرالأفكار بين
          مختلف الآراء والاتجاهات
        </p>
      </div>
    </div>
  </div>
</div>
