<div class="background"></div>
<div class="woolf"></div>

<div class="content-container">
  <div class="content">
    <h1 style="color: #253595">كلمة الرئيس</h1>
    <div class="mt-5">
      <div style="float: left" class="me-5">
        <img
          style="height: 300px"
          fetchpriority="high"
          decoding="async"
          class="size-medium wp-image-346 alignleft"
          src="assets/bg_main.jpeg"
          alt="103"
          width="252"
          height="300"
          data-pin-no-hover="true"
        />
      </div>
      <div class="">
        <p style="text-align: justify">
          &nbsp;من تركي الدخيل إلى زوار موقع مركز المسبار
        </p>
        <p style="text-align: justify">
          يملي علي ضميري أن أزور هذا الموقع يومياً، لأعاهد نفسي أن أعمل جاهدا
          بطموحي وبكفاءة كل الأساتذة الباحثين في المركز لتقديم وصف لا يزيد ولا
          ينقص عن واقع الحركات الإسلامية بكل ما استطعنا&nbsp; درسا وبحثا
          وتنقيبا.
        </p>
        <p style="text-align: justify">
          ولأن المواقع صارت مرايا لتفكير وتوجهات أصحابها أو بديلا للكتابات
          والمقالات فأردت أن أنظر يوميا إلى وعدي لكم بالتقدم المطلوب لأحاسب
          سطوري و أرقيها، وأراقب مركزي وأضمن التزامه بقواعد العلم وشروط البحث.
        </p>
        <p style="text-align: justify">
          دعوني أصف لكم العمل في مركز المسبار للدراسات والبحوث. إنه أشبه بمسبار
          فضائي خارج الكرة الأرضية يصور كل ما يحصل على الأرض ولكن بدلا من أن
          يمنح القارىء صوراً فوتوغرافية عن جغرافية الأرض إنه يمنحه رؤية علمية
          متماسكة عن واقع ونشاط الحركة الإسلامية في العالم، كما يمنحه قياساً
          متوازناً لهذه الحركات بتاريخها ورموزها وأفكارها، وهو المعنى الآخر
          للمسبار حسبما جاء في علم الكلام الإسلامي حول “السبر والتقسيم”.
        </p>
        <p style="text-align: justify">
          والرئيس في المركز أشبه بقائد الأوركسترا، يقود الموسيقيين بحركات بسيطة
          غير أن كل عازف منهم يجيد العطاء على آلته الخاصة أكثر من القائد. لذلك
          وظيفة الرئيس هي فقط التأكد من عدم خلط سيفمونية معينة بواحدة أخرى، أما
          مؤلف موسيقى المسبار الوحيد فهو الواقع (بمساعدة التاريخ أحياناً).
        </p>
        <p style="text-align: justify">
          إن المعلومة الصحيحة والتحليل الواعي هي الملكية الوحيدة التي تمنحها
          للآخرين لتبقى لك، ونحن في المسبار ننقل المعلومة لنشرح للناس واقعا
          صادقا، وتحليلاً علمياً واثقاً، وقصدنا من وراء ذلك أن يعيد كل قارىء
          حساباته ليعلم أن الآخرين لديهم رأيهم أو عقيدتهم أو تقاليدهم ويؤمنون
          بها ويضحون لأجلها كما يؤمن هو برأيه ومنهجه العلمي.
        </p>
        <p style="text-align: justify">
          في نظرنا أن الحقيقة دينية كانت أم مدنية لها عدة دروب تقود إليها، فإذا
          كنت ترى أن رأيك أو عقيدتك هي الصواب فهذا لا يعني أبدا أن الآخر مخطىء
          ويجب إلغاؤه لأنه لو فكر مثلك لأصبحنا في حرب دائمة. فكر مثله لأن الحياة
          تتسع للجميع مهما أختلفت الآراء طالما كان النبع واحداً.
        </p>
        <p style="text-align: justify">فيا سادتي القراء</p>
        <p style="text-align: justify">
          نحو الرقمية المتقدمة دائماً ، يقدم مركز المسبار للدراسات والبحوث موقعه
          الجديد إليكم لمزيد من التواصل. وقد أفادنا خبراء الإحصاء في بداية
          مشروعنا منذ خمس سنوات أن القراء سيتوفرون لنا من شتى أصقاع العالم مما
          أوجب علينا أن يكون الباحثون أيضا منتشرين في القارات الخمس، وشاءت
          الرقمية أن تكون الأسرع لإيصال العلم والمعرفة والرأي فاعتمدناها.
        </p>
        <p style="text-align: justify">
          وحتى لا يكون التخاطب من طرف واحد أتمنى وأشتهي من كل الباحثين والدارسين
          أن يكتبوا ما لنا وما علينا في هذا الموقع وأشرع الأبواب في وجه كل صاحب
          رأي يثق برأيه.
        </p>
        <p style="text-align: justify">
          فأهلا بكل القراء… والباحثين … والكتّاب.
        </p>
        <p style="text-align: center" class="mb-5 mt-5">
          <!-- -->
          <!-- > -->
          <a href="https://www.turkid.net" target="_blank">
            <img
              decoding="async"
              class="aligncenter size-full wp-image-191"
              src="/assets/turki.png"
              alt="turki"
              width="150"
              height="120"
              data-pin-no-hover="true"
            />
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
