<div class="container">
  <div class="row mb-3 header-sub sticky">
    <div class="col-md-5 align-self-center">
      <h1 class="breadcrumb-chevron">مكتبة المسبار</h1>
    </div>
    <div
      class="col-md-7 align-self-center d-flex justify-content-end"
      id="mobiletotal"
    >
      <h5 class="bg-secondary p-2 text-white" style="border-radius: 25px">
        مجموع الكتب: {{ size }}
      </h5>
    </div>
  </div>

  <div class="row mt-5" *ngIf="probeinlibrarys">
    <div
      class="col-md-2 mb-5 grow"
      *ngFor="let probeinlibrary of probeinlibrarys"
    >
      <button
        class="btn mb-2 me-2"
        (click)="gotoDetailPage(probeinlibrary.id, probeinlibrary._id)"
      >
        <img src="{{ probeinlibrary.image }}" class="card-img-top" alt="..." />
      </button>
    </div>

    <div *ngIf="loading" class="loading">
      <div class="loader-spinner"></div>
      Loading more data...
    </div>
  </div>

  <div class="row" *ngIf="probeinlibrarys.length === 0">No Data Available</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ data.title }}</h4>
    <button
      style="margin: 0"
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body scrollable">
    <p [innerHtml]="data.description"></p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
