.social-bar a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.facebook {
  background: #1877f2;
  color: white;
}
.x {
  background: black;
  color: white;
}
.telegram {
  background: #26a5e4;
  color: white;
}
.linkedin {
  background: #0a66c2;
  color: white;
}
.whatsapp {
  background: #25d366;
  color: white;
}
.link {
  background: black;
  color: white;
}

.social-bar svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.social-bar {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  background: lightskyblue;
  border-radius: 30px;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .mobile {
    width: 275px;
    flex-direction: row;
    margin-top: 50px;
    top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mobile {
    right: auto !important;
    margin-left: auto;
    margin-right: auto;
  }
}
