<div class="container">
  <div class="row mb-3 header-sub sticky">
    <div class="col-md-5 align-self-center">
      <h1 class="breadcrumb-chevron">اتصل بنا</h1>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_gmaps_widget wpb_content_element">
            <div class="wpb_wrapper">
              <div class="wpb_map_wraper me-5">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.2653458386785!2d55.20562831500813!3d25.126718483929007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6bc67bb3b3d7%3A0x5a00c66333d99c6a!2sAl%20Mesbar%20Studies%20%26%20Research%20Center!5e0!3m2!1sen!2sae!4v1639585255457!5m2!1sen!2sae"
                  width="1150"
                  height="600"
                  style="
                    border: 0px;
                    border-radius: 50px;
                    max-width: 100%;
                    max-height: 394px;
                  "
                  allowfullscreen=""
                  loading="lazy"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-lg-3 col-md-3 col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element style-contact">
            <div class="wpb_wrapper">
              <h3><strong>العنوان</strong></h3>
              <p>مجمع إعمار للذهب والألماس#٣٢٢٥</p>
              <p>بالقرب من محطة مترو اكويتي</p>
              <p>شارع الشيخ زايد</p>
              <p>القوز٣</p>
              <p>صندوق بريد٣٣٣٥٧٧</p>
              <p>دبي – الإمارات العربية المتحدة</p>
            </div>
          </div>

          <div class="wpb_text_column wpb_content_element style-contact">
            <div class="wpb_wrapper">
              <h3><strong>تليفون</strong></h3>
              <p style="direction: ltr; text-align: right">+971 4 3804774</p>
            </div>
          </div>

          <div class="wpb_text_column wpb_content_element style-contact">
            <div class="wpb_wrapper">
              <h3><strong>البريد الإلكتروني </strong></h3>
              <p>
                <a href="mailto:info@almesbar.net"> info&#64;almesbar.net</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
