<div class="container">
  <div class="row mb-3 header-sub sticky">
    <div class="col-md-5 align-self-center">
      <h1 class="breadcrumb-chevron">سياسة الخصوصية</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mb-5">
    <div class="jeg_main_content col-md-12">
      <div class="entry-header mt-5 mb-5">
      
      </div>
      <div class="entry-content">
        <div class="content-inner">
          <p>
            <span style="font-weight: 400"
              >يدرك مركز المسبار للدراسات والبحوث أهمية الخصوصية، وحماية
              البيانات الشخصية في العصر الرقمي. وبالتالي فهو ملتزم بحماية خصوصية
              مستخدمي خدمات الموقع الإلكتروني أثناء التصفح أو الاستخدام، وكذلك
              حماية المنشورات عبر الموقع.
            </span>
          </p>
          <p>
            <span style="font-weight: 400"
              >هذا الموقع ملك لمركز المسبار للدراسات والبحوث، وتحت إدارته. وإنك
              بدخولك واستخدامك للموقع تعتبر مطّلعًا على سياسة الخصوصية والشروط
              والأحكام الواردة هنا وموافقًا عليها، لذلك يتعين عليك القراءة
              والاطّلاع بعناية، حيث يعتبر استخدام هذا الموقع بمثابة موافقة على
              كافة الشروط والأحكام وسياسة الخصوصية.
            </span>
          </p>
          <ul>
            <li style="font-weight: 400"><b>خصوصية المستخدمين :</b></li>
          </ul>
          <p>
            <span style="font-weight: 400"
              >يلتزم مركز المسبار للدراسات والبحوث بحماية خصوصية مستخدمي الموقع،
              علمًا بأنه قد يتم أحيانًا جمع بعض المعلومات عن المستخدمين لغايات
              تحسين الخدمات المقدمة من المركز، حيث أنه قد يقوم الموقع تلقائيًا
              بجمع معلومات عامة عن أنماط وعمليات تصفح الموقع من قبل المستخدمين،
              وهي معلومات إجمالية لا تعني شخصًا محددًا، و هذه المعلومات هي
              لغايات تحسين فهمنا لمستخدمينا ومساعدتنا في مراجعة استخدامات الموقع
              وتطويره.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >يلتزم مركز المسبار &nbsp;للدراسات والبحوث في حال تسجيل أي مستخدم
              لمعلومات طوعية عبر الموقع الإلكتروني أو من خلال البريد الإلكتروني
              بالحفاظ على سرية المعلومات، وعدم مشاركتها مع أي طرف ثالث.
            </span>
          </p>
          <ul>
            <li style="font-weight: 400">
              <b>حماية المعلومات المنشورة على الموقع : </b>
            </li>
          </ul>
          <p>
            <span style="font-weight: 400"
              >لا يجوز، دون الحصول على إذن خطي مسبق من إدارة مركز المسبار،
              استخدام أي من المواد التي يتضمنها هذا الموقع، أو استنساخها أو
              نقلها، كليًّا أو جزئيًّا، في أي شكل وبأي وسيلة، سواء بطريقة
              إلكترونية أو آلية، بما في ذلك الاستنساخ الفوتوغرافي، أو التسجيل أو
              استخدام أي نظام من نظم تخزين المعلومات واسترجاعها.</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >ويسمح باقتباس أجزاء من المواد المنشورة لأغراض البحث العلمي شريطة
              ذكر المصدر &nbsp;بما لا يتعارض مع أحكام القوانين والأنظمة المتعلقة
              بالملكية الفكرية، وحقوق المؤلف، والحقوق المجاورة المعمول بها في
              دولة الإمارات العربية المتحدة.
            </span>
          </p>
          <ul>
            <li style="font-weight: 400"><b>بيانات إخلاء الطرف :</b></li>
          </ul>
          <p>
            <span style="font-weight: 400"
              >جميع المواد المتاحة على هذا الموقع “كما هي”، تم نشرها دون تقديم
              أي نوع من أنواع الضمانات عن أي خسارة أو ضرر أو تبعات قد يتكبدها أي
              شخص طبيعي أو معنوي، ويدّعي أنها ناجمة عن استخدام المعلومات
              المنشورة على هذا الموقع، بما في ذلك، على سبيل المثال لا الحصر، أي
              مقالات أو منشورات أو أي وجهات نظر أو خطأ أو غلط أو إغفال، ويكون
              المستعمل لهذا الموقع وحده مسؤولاً مسؤولية كاملة عن استخدامه لهذا
              الموقع، ولا يكون مركز المسبار مسؤولًا في أي حال من الأحوال عن هذا
              الاستخدام، ويوافق المستخدم على إخلاء مسؤولية مركز المسبار عن كل ما
              هو ناتج عن استخدامه لأي منشورات على هذا الموقع، ويتحمل وحده
              المسؤولية الكاملة عن هذا الاستعمال.
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
            >
          </p>
          <p>
            <span style="font-weight: 400"
              >قد يشتمل هذا الموقع على خطوط اتصال وصلات مع مواقع تعود إلى أطراف
              أخرى، وهذه المواقع لا تقع تحت سيطرة مركز المسبار، وهو غير مسؤول عن
              محتويات أي من هذه المواقع المتصلة أو عن أي خط اتصال يشتمل عليه أي
              من المواقع المتصلة.
            </span>
          </p>
          <ul>
            <li style="font-weight: 400">
              <b>التعديلات على سياسة الخصوصية : </b>
            </li>
          </ul>
          <p>
            <span style="font-weight: 400"
              >يحتفظ مركز المسبار بالحق في تعديل بنود وشروط سياسة الخصوصية إن
              لزم الأمر، ومتى كان ذلك ملائماً استناداً إلى سلطته التقديرية
              المنفردة.</span
            >
          </p>
          <ul>
            <li style="font-weight: 400"><b>مسائل عامة : </b></li>
          </ul>
          <p>
            <span style="font-weight: 400"
              >يحتفظ مركز المسبار واستنادا إلى سلطته التقديرية المنفردة بمنع أي
              مستخدم من دخول هذا الموقع أو أي جزء منه في أي وقت &nbsp;بدون
              الحاجة إلى إشعار مسبق.
            </span>
          </p>
          <p>
            <span style="font-weight: 400"
              >إن مركز المسبار غير ملزم بالتغاضي عن أي حكم من هذه الأحكام
              والشروط باستثناء ما يحرره خطيًّا، ويوقعه ممثله المخول بالتوقيع عنه
              حسب الأصول القانونية.
            </span>
          </p>
          <p>&nbsp;</p>
          <p>
            <span style="font-weight: 400">الاتصال بنا :<br /> </span
            ><span style="font-weight: 400"
              >يمكنكم الاتصال بنا عند الحاجة من خلال معلومات الاتصال المبينة على
              <a class="cursor" routerLink="/contactus"
                >موقعنا &nbsp;الإلكتروني</a
              >
              .</span
            >
          </p>

          <div class="jeg_share_bottom_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
